@font-face {
	font-family: "saitamaar_light";
	src: url("fonts/saitamaar_light/saitamaar_light.woff2") format("woff2"),
	url("fonts/saitamaar_light/saitamaar_light.woff") format("woff"),
	url("fonts/saitamaar_light/saitamaar_light.ttf") format("ttf");
	font-display: swap;
}

body {
    font-family:IPAMonaPGothic,'IPA モナー Pゴシック',Monapo,Mona,'MS Pgothic','MS Pゴシック',submona;
    font-size: 12pt;
}

.inlineborder {
	color: #cccccc;
	
}

.spoiler {
	background-color: #000;
	transition: .3s;
	color: #000;
}


.spoiler:hover {
	background-color: inherit;
	color: inherit;
}

.code {
	background-color: #ffffff;
	color: #000;
	font-family: monospace;
	word-wrap: break-word;
	line-height: 1;
	padding: 10px;
	overflow: auto;
	resize: both;
	max-width: 100%;
}

pre {
	padding: 0;
	
}

.download{
	vertical-align: text-bottom; 
	width: 16px;
	height: 16px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	background-image: url(download.png);

}



.staffico {
	vertical-align: middle;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */


	
}

.mnav {
	visibility: hidden;
	margin: 0;
	padding: 0;
}


.rules {
	margin: 0;
	padding: 0 1.2em;
	font-size: small;
}

.banner {
	border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.logo {
	clear: both;
}

.theading,
.theading2 {
	margin-bottom: 0.5em;
}


.imageurl {
	vertical-align: middle; 
}

.imageurl img {
	margin-bottom: 3px;
	
}

/* saitamaar_light from https://fonts.aahub.org */
.ascii {
	font-family: "Mona", 'MS PGothic', "saitamaar_light", "IPAMonaGothic", monospace !important;
	-webkit-font-smoothing: none;
	word-wrap: break-word;
	line-height: 1;
	font-size: 12pt;
}

/* following is ascii for Strange World */
.sw {
	font-family: "MS Gothic", IPAMonaGothic, IPAGothic, "BIZ UDGothic", "Osaka-Mono", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 16px;
	line-height: 1;
}


#catalog .thread {
	width: 180px;
	min-width: 180px;
	max-width: 450px;
	overflow-y: hidden;
	vertical-align: top;
	padding: 0.5em 0;
}



.boardlist {
	font-size: 10pt;
	background-color: inherit;
	border-color: inherit;
}

.boardlist a {
	text-decoration: none;
}

.toplinks {
	float: left;
	font-size: 10pt;
	height: 0;
}

.adminbar {
	font-size: 10pt;
	float: right;
	height: 0;
}

.postnum a {
	color: inherit;
}

.unkfunc {
	color: #789922;
}

.unkfunc2 {
	color: #ff69b4;
}

.filesize {
	margin-left: 20px;
word-break: break-word;
}

.emoji {
	vertical-align: text-bottom;
}

.nobr {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	display: inline;
	text-overflow: ellipsis;
}

a[href*="youtube.com"] {
	border-bottom: 1px dotted;
	line-height: 1.5em;
}


.boardlisticon {
	width: 16px;
	height: 16px;
	fill: #ff6600;
}

#blotter {
	max-width: 530px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 9pt;
}

#blotter ul {
	list-style-type: none;
}

.u2l {
	list-style-type: none;
	display: inline-block;
	text-align: left;
	min-width: 600px;
}

.bbls {
	text-align: center;
}


input,
button,
summary,
select,
textarea,
select,
option,
audio {
	border-width: 1px;
	border-radius: 0;
	outline-style: none;
	padding: 1;
}

.error,
.offline {
	color: #F00;
}

.good,
.online {
	color: #080;
}

.globalmsg {
	color: #F00;
}

@media screen and (max-width: 650px) {
	body {
		width: 100%;
		margin: auto;
		margin-left: 0;
	}

	labe,
	.inputtext {
		width: 240px;
	}

	textarea,
	.textarea,
	input {
		max-width: 240px;
	}

	.footer,
	.galleryb {
		display: none;
	}

	.rules {
		font-size: 10px;
	}

	#topiclist,
	#topiclists {
		height: 200px;
		overflow-y: scroll;
		
	}
	.doubledash {
		visibility: hidden;
	}
	.thread,
	.op,
	.reply {
		width: 100%;
	}
	.postimg {display: block; float: none;}
	.serve5 {display: none;}
}

.toplinks,
.adminbar {
	height: auto;
}

blockquote {
	word-break: break-word;
}

.expandimg {
	max-width: 100%;
}

.reply {
    padding: 2px;
}

.post.op:target, .post.op.replyhl {
    margin: -1px;
}

.inputtext {
    margin: 0;
    margin-right: 2px;
    padding: 1px 4px;
    font-size: 10pt;
}

button,input[type=submit],input[type=reset] {
    padding: 1px 0.5em;
    margin: 0;
    margin-right: 2px;
}

#pager td {
    padding: 2px 5px;
}

.postlists {
    min-width: 500px;
    max-width: 100%;
    font-size: 9pt;
}

.theading, .theading2, .theading3 {
    padding: 2px 0;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.icon {
    vertical-align: bottom;
}

#catalog .thumb {
    min-width: 50px;
    min-height: 50px;
}

.ascii {
    font-family: Mona, 'MS PGothic'!important;
    word-wrap: break-word;
    line-height: 1;
    font-size: 12pt;
}

.auditlog {
    margin: 0.5em;
    padding: 1em;
    max-width: 720px;
}

#catalog .thread {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    overflow-wrap: break-word;
    vertical-align: top;
    padding: 0.5em 0;
}

#catalog .thread:hover {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    overflow-y: auto;
}

.boardlist {
	font-size: 10pt;
}

.postblock {
    font-size: 11pt;
    padding: 0px 5px;
}

.logo h1 {
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 20pt;
    margin: 0;
}

.rules {
    margin: 0;
    padding: 0 0 0 1.25em;
}

.managecom {
	overflow-y: scroll; 
	overflow-wrap: break-word; 
	width: 300px; 
	height: 60px; 
	margin-left: 1px;
	margin-top: 1px;
}

.managesub {
	overflow-y: scroll; 
	overflow-wrap: break-word; 
	width: 200px;
	height: 60px;
	display: inline-block;
}

.managename {
	overflow-x: scroll; 
	width: 200px;
	height: 60px;
	display: inline-block;
}

.managehash {
	overflow-x: scroll; 
	width: 150px;
	height: 60px;
	display: inline-block;
}
