body {
	background-color: #ffffee;
	color: #880000;
	font-family: Times New Roman;
	font-size: 16px;
}

.theading,
.theading2,
.theading3 {
	color: #EEE;
	background-color: #E04000;
	padding: 2px 0;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

.postnum a {
	color: inherit;
	text-decoration: none;

}

.navBar{
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

#mainForm,
.boardTitle,
.thread{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.boardTitle,
.boardSubTitle{
  text-align: center
}

.accent{
  background: #eeaa88;
  border: 1px solid #800000;
}

.omittedposts {
	color: #707070;
}

.reply{
	margin-left: auto; 
	width: fit-content;
	background: #f0e0d6;
	padding: 8px; 
	margin: 10px;
}

.name{
    color: #117743;
}

.subject{
	color: #cc1105
}