@charset "UTF-8";

/************************ Global **************************************/

:root {
  /* Global */
  --font-family-main: var(--font-family-serif);
  --font-size-main: 12pt;
  --color-bg-main: #ffffee;
  --color-bg-main-gradient: #ffccaa;
  --color-fg-main: #800000;
  --color-fg-link: #0000cc;
  --color-fg-link-hover: #ee0000;
  --color-lo-contrast-border: #d9bfb7;
  --color-hi-contrast-border: #be8080;
  --color-border-button: #e3e3e3;
  /* Navigation/admin bar */
  --color-bg-boardlist: var(--color-bg-reply);
  --color-fg-boardlist: #bb8866;
  /* Board header */
  --color-fg-logo: var(--color-fg-main);
  --color-bg-theading: #e04000;
  --color-bg-theading2: #0040e0;
  --color-bg-theading3: #e08000;
  --color-fg-theading: #ffffff;
  /* Post form */
  --color-bg-postblock: #eeaa88;
  --color-fg-global-message: var(--color-fg-warning);
  /* Posts/replies */
  --color-bg-reply: #f0e0d6;
  --color-bg-reply-hl: #f0c0b0;
  --color-fg-title: #cc1105;
  --color-fg-name: #117743;
  --color-fg-warning: #f00000;
  --color-fg-warning-ip: #0000cc;
  --color-fg-omitted: #707070;
  /* Post formatting */
  --color-fg-quotelink: #34345c;
  --color-fg-quotelink-hover: var(--color-fg-link-hover);
  --color-fg-quote: #789922;
  --color-fg-quote2: #ff69b4;
  --color-bg-spoiler: #000000;
  --color-bg-code: #ffffff;
  --color-fg-code: #000000;
  /* Administrator mode */
  --color-bg-postlists-header: #6080f6;
  --color-fg-postlists-header: #ffffff;
	--color-fg-postlists-header-link: #ffff00;
  --color-bg-postlists-odd: #d6d6f6;
  --color-bg-postlists-even: #f6f6f6;
  /* File board/flash board */
  --color-bg-flashboard-even: #f7efea;
  /* Windows */
  --color-bg-window-item-highlight: #ffdbb5;
}

@-moz-document url-prefix() {
  table,
  td,
  th {
    border-color: #000000 !important;
  }
}
 
/************************ Navigation/admin bar ************************/
/******** Neomenu ********/
/************************ Board header ********************************/
/************************ Post form ***********************************/

.rules,
#blotter {
  font-family: sans-serif;
  font-size: var(--font-size-xx-small);
}

/************************ Posts/replies *******************************/
/************************ Post formatting *****************************/
/************************ Footer **************************************/
/************************ Administrator mode **************************/
/************************ Ban screen **********************************/
/************************ Catalog *************************************/
/********************** File board/flash board ************************/
/************************ Windows *************************************/
/************************ Mobile **************************************/

@media screen and (max-width: 650px) {
  .rules {
    font-size: var(--font-size-x-small);
  }
}

/************************ Probably not needed *************************/

/* .top {
  background-color: #060a0d;
} */

/* iframe,
.rotating {
  border-right: 1px solid var(--color-fg-main);
  border-bottom: 1px solid var(--color-fg-main);
} */