@charset "UTF-8";

/************************ Global **************************************/

:root {
  /* Global */
  --font-family-main: system-ui, 'Segoe UI', Calibri, Tahoma, Arial, sans-serif;
  --font-size-main: 11pt;
  --color-bg-main: #ffffee;
  --color-bg-main-gradient: #ffccaa;
  --color-fg-main: #800043;
  --color-fg-link: #0000cc;
  --color-fg-link-hover: #ee0000;
  --color-lo-contrast-border: #d9bfb7;
  --color-hi-contrast-border: #be8080;
  --color-x-hi-contrast-border: #000000;
  --color-border-button: #e3e3e3;
  /* Navigation/admin bar */
  --color-bg-boardlist: var(--color-bg-reply);
  --color-fg-boardlist: #bb8866;
  /* Board header */
  --color-fg-logo: var(--color-fg-main);
  --color-bg-theading: #e04000;
  --color-bg-theading2: #0040e0;
  --color-bg-theading3: #e08000;
  --color-fg-theading: #ffffff;
  /* Post form */
  --color-bg-postblock: #eeaa88;
  --color-border-input: #38444d;
  --color-fg-global-message: var(--color-fg-warning);
  /* Posts/replies */
  --color-bg-reply: #f0e0d6;
  --color-bg-reply-hl: #f0c0b0;
  --color-fg-title: #cc1105;
  --color-fg-name: #117743;
  --color-fg-warning: #ff0000;
  --color-fg-warning-ip: #0000cc;
  --color-fg-omitted: #707070;
  /* Post formatting */
  --color-fg-quotelink: #000080;
  --color-fg-quotelink-hover: var(--color-fg-link-hover);
  --color-fg-quote: #789922;
  --color-fg-quote2: #ff69b4;
  --color-bg-spoiler: #000000;
  --color-bg-code: #ffffff;
  --color-fg-code: #000000;
  /* Administrator mode */
  --color-bg-postlists-header: #6080f6;
  --color-fg-postlists-header: #ffffff;
	--color-fg-postlists-header-link: #ffff00;
  --color-bg-postlists-odd: #d6d6f6;
  --color-bg-postlists-even: #f6f6f6;
  /* File board/flash board */
  --color-bg-flashboard-even: #f7efea;
  /* Windows */
  --color-bg-window-item-highlight: #ffdbb5;
}

body {
  background-image: linear-gradient(var(--color-bg-main-gradient), var(--color-bg-main));
  background-size: 100% 500px;
  background-repeat: repeat-x;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

hr {
  color: var(--color-fg-main);
  border-color: var(--color-fg-main);
}

hr:not(.threadSeparator):not(.hrAds) {
  border-top: none;
  height: 1px;
}

textarea,
input:not([type="submit"]):not([type="button"]):not([type="file"]) {
  border-color: var(--color-x-hi-contrast-border);
}

textarea:focus,
input:focus {
  border-color: var(--color-x-hi-contrast-border);
}

button,
input,
textarea,
select,
pre {
  font-size: 0.909091em;
}

button,
select,
input[type="button"],
input[type="submit"],
input[type="reset"],
input::file-selector-button {
  border-radius: 0;
  border-width: 1px;
}

/************************ Navigation/admin bar ************************/

.boardlist a {
  color: var(--color-fg-main);
}

/******** Neomenu ********/
/************************ Board header ********************************/

.logo h1 {
  font-family: inherit;
  font-size: 1.82em;
}

.logo hr {
  background: linear-gradient(to right, transparent, var(--color-fg-main), transparent);
  border: none;
  height: 1px;
  opacity: 0.75;
}

/************************ Post form ***********************************/

.postblock {
  border: 1px solid var(--color-fg-main);
  padding: 0 5px !important;
}

#postformTable td.postblock a {
  text-decoration: underline;
}

.inputtext {
  border: 1px solid var(--color-border-input);
  border-radius: 0;
}

.inputtext:focus {
  outline: 1px solid var(--color-hi-contrast-border);
  outline-offset: -1px;
}

/************************ Board info **********************************/

.rules {
  font-size: max(0.909091em, 10pt);
}

/************************ Posts/replies *******************************/

.doubledash {
  color: var(--color-hi-contrast-border);
}

.reply {
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-color: var(--color-hi-contrast-border);
}

.filesize {
  text-decoration: none;
}

.postnum a {
  text-decoration: underline;
}

/************************ Post formatting *****************************/

.quotelink {
  text-decoration: underline;
}

/************************ Footer **************************************/

#pager {
  background-color: var(--color-bg-reply);
  border: 1px solid var(--color-hi-contrast-border);
}

#pager td {
  border: 1px solid var(--color-hi-contrast-border);
  padding: 2px 5px;
}

#pager a {
  color: inherit;
}

/************************ Administrator mode **************************/

.postlists th {
  border: 1px solid var(--color-x-hi-contrast-border);
}

.auditlog {
  background-color: var(--color-bg-postblock);
  border-style: solid;
  border-width: 1px;
}

/************************ Ban screen **********************************/

#banScreen {
  border: 1px solid;
  border-left: none;
  border-top: none;
  border-color: var(--color-hi-contrast-border);
}

/************************ Catalog *************************************/
/********************** File board/flash board ************************/
/************************ Windows *************************************/
/************************ Mobile **************************************/

@media screen and (max-width: 650px) {
	body {
		font-size: 12pt;
	}
}

/************************ Probably not needed *************************/

/* .top {
  background-color: #060a0d;
} */

/* iframe,
.rotating {
  border-right: 1px solid #880000;
  border-bottom: 1px solid #880000;
} */