@import "base.css";
/* updated */
  @font-face {
    font-family:           'Osaka';
//  platform-font-family:  'Osaka';
    font-style:            normal;
    unicode-range:         U+0-10FFFF;
    font-weight:           normal;
    src:                   url('Osaka.woff');
  }
  @font-face {
    font-family:           'Osaka';
//  platform-font-family:  'Osaka';
    font-style:            normal;
    unicode-range:         U+0-10FFFF;
    font-weight:           normal;
    src:                   url('Osaka.woff');
  }

@font-face {
        font-family:'submona';
        src:url('submona/submona.woff') format('woff');
}
body {
	background-image: linear-gradient(#ffccab, #ffffee);
	background-size: 100% 500px;
	background-repeat: repeat-x;
	background-color: #FFE;
	color: #800043;
	font-family: Osaka;
	font-size: 11pt;
}

.unkfunc {
	color: #789922;
}

.unkfunc2 {
	color: #ff69b4;
}

table,
table td {
	border-color: #880000;
}

.doubledash {
	color: #880000;
}

.banner {
	border: 1px solid black;
}

textarea,
input {
	background-color: #fff;
	border-color: #000;
	color: #000;
}

textarea:focus,
input:focus {
	background-color: #fff;
	border-color: #000;
	color: #000;
}

.emote {}

a,
a:link,
a:visited {
	color: #0000ee;
text-decoration: underline;
}

a:hover {
	color: #ff0000;
}

.reply {
	background: #f0e0d6;
	border-bottom: 1px solid #800043;
	border-right: 1px solid #800043;
}

.replyhl {
	background-color: #f0c0b0;
}

.post:target {
	background-color: #f0c0b0;
}

.post.op:target {
	background-color: #ffffee;
	/* SHOULD BE SAME COLOR AS BG */
}

.post.op.replyhl {
	border: 1px solid;
	border-color: #000;
	border-radius: 5px;
	margin: -1px;
}

.inputtext {
	margin: 0;
	margin-right: 2px;
	padding: 1px 4px;
	border: 1px solid #38444d;
	border-radius: 0px;
	/* Chrome fucks up borders */
	outline: none;
	font-size: 10pt;
	color: #000;
}

.inputtext:focus {
	border: 1px solid #38444d;
}

button,
input[type=submit],
input[type=reset] {
	border-radius: 0;
	border-width: 1px;
	padding: 1px 0.5em;
	margin: 0;
	margin-right: 2px;
}

.logo h1 {
	font-family: Osaka;
	font-size: 20pt;
	margin: 0;
}

hr {
	color: #880000;
}

.top {
	background-color: #060a0d;
}

.postblock {
	font-size: 11pt;
	padding: 0px 5px;
	background-color: #425c98;
}

iframe,
.rotating {
	border-right: 1px solid #880000;
	border-bottom: 1px solid #880000;
}

#pager {
	color: #880000;
}

#pager a {
	color: #880000;
	text-decoration: none;
}

#pager td {
	padding: 2px 5px;
}

a,
a:link a:visited {
	color: #00C;
	text-decoration: none;
}

a:hover {
	color: #EE0000 !important;
}

.filesize {
	text-decoration: none;

}


.postnum a {
	color: inherit;
	text-decoration: underline;

}

.rules {
	margin: 0;
	padding: 0 0 0 1.25em;
}

.postblock {
	background: #eeaa88;
border: 1px solid #800043;
}


.title {
	color: #cc1105;
}

.name {
	color: #117743;
}

.warning {
	color: #F00000;
}

.omittedposts {
	color: #707070;
}

.postlists {
	min-width: 500px;
	max-width: 100%;
	border: 1px solid #000;
}

.postlists th {
	background-color: #6080f6;
	border: 1px solid #000;
}

.postlists tbody tr:nth-child(odd) {
	background-color: #d6d6f6;
}

.postlists tbody tr:nth-child(even) {
	background-color: #f6f6f6;
}

.exif {
	background-color: #FFE;
}

.quotelink {
	text-decoration: underline;
}

.theading {
	background-color: #E04000;
}

.theading2 {
	background-color: #0040E0;
}

.theading3 {
	background-color: #E08000;
}

.theading,
.theading2,
.theading3 {
	color: #FFF;
	padding: 2px 0;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

.icon {
	vertical-align: bottom;
}

#catalog .thumb {
	box-shadow: 0 0 5px rgb(0 0 0 / 25%);
	min-width: 50px;
	min-height: 50px;
	border-radius: 2px;
}

#catalog .thread {
	width: 180px;
	min-width: 180px;
	max-width: 180px;
	overflow-y: hidden;
	vertical-align: top;
	padding: 0.5em 0;
}

#catalog .thread:hover {
	width: 180px;
	min-width: 180px;
	max-width: 180px;
	overflow-y: auto;
}

.boardlist {
	font-size: 10pt;
	background-color: #efe1d7;
	color: #bb8866;
}

.boardlist a {
	color: #880000;
	text-decoration: none;
}
