@charset "UTF-8";
@import "pseud0ch.css";

body {
	font-family: var(--font-family-mspgothic);
	font-size: 12pt;
	line-height: 1;
}

.sod.noVotes {
	font-family: var(--font-family-msgothic);
}