@charset "UTF-8";
@import "pseud0ch.css";

body {
	font-family: system-ui, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

/************************ Mobile **************************************/

@media screen and (max-width: 450px) {
	body {
		font-size: 12pt;
	}
}